<!-- get from base.html (in templetes folder) -->
{% extends 'base.html' %}
{% load static %}

    {% block title %}

        create article

    {% endblock %}

    {% block content %}

        <div class="create-article">
            <h1>
                create your article
            </h1>

            <form class="form-site" action="{% url 'articles-url:create' %}" method="post" enctype="multipart/form-data">
                {{ form }}
                {% csrf_token %}
                <input type="submit" value="create">
            </form>

        </div>
        <script src="{% static 'slugify.js' %}"></script>
    {% endblock %}